/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 10px #130000;
    background-color: #20b5f5;
  }

  #content {
  background-color: rgb(9, 236, 240);
  }

  .minor-section h2{
   font-family:  Georgia, Times, 'Times New Roman' ;
   font-size: medium;
  }

.route 18{
    height: 400;
    width: 400;
    position: absolute;
    right: 60 px;
    bottom: 0px;
    top: 20px;
}


