/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor section {
    padding: 50px;
    margin-bottom: 10px;
    border: solid 1px #000000;
    background-color: #0206f2;
  }

  p{
    font-family:'Segoe UI', Tahoma, Verdana, sans-serif
  }

  .special {
    background-color: #9506e7;
    border: dotted 50px rgba(0, 0, 0, 0.979);
    color: rgb(2, 130, 199);
    font-weight: bold;
  }

  p{
    color: #10f36b;
    font-style: italic;
    font-weight: 70;
  }

#content{
  background-color: #a700d1;
  }
