/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 50px #000000;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    background-color: #0206f2;
  }


  p{
    font-family:'Segoe UI', Tahoma, Verdana, sans-serif
  }

  .special {
    background-color: #b00ebc;
    border: dotted 50px rgba(0, 0, 0, 0.979);
    color: rgb(2, 130, 199);
  }

  p{
    color: #020101;
    font-style: normal;
    font-weight: 70;
    font-size: 25px;
    padding: 10px;
  }

#content{
  background-color: #aa0f36;
  }

  body{
    color: #e7aa03;
    font-style: italic;
    font-size: 15px;
    padding: 10px;
  }

  h3{
  border-color: rgb(0, 0, 0);  
  border-width: .10em;  
  border-style: solid;  
  }

h1{
  padding-top: 50px;
  padding: 30px;
}
